.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameGroup {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 14px 131px;
  box-sizing: border-box;
  position: relative;
}
.frameItem {
  width: 561px;
  height: 163px;
  position: relative;
  border-radius: 0 8px 8px 0;
  background-color: var(--White-4-dark-theme);
  display: none;
  max-width: 100%;
}
.byMarkMaciel,
.expressiveFreestyle {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.byMarkMaciel {
  margin-top: -2px;
  flex: 1;
  line-height: 22px;
}
.byMarkMacielWrapper,
.expressiveFreestyleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.byMarkMacielWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  font-size: 14px;
  font-family: Poppins;
}
.expressiveFreestyleParent {
  width: 186px;
  flex-direction: column;
}
.frameInner {
  width: 29px;
  height: 28px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.frameDiv,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 1px;
  box-sizing: border-box;
}
.scheduleIcon {
  width: 18px;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.scheduleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.diversity3Icon,
.min {
  position: relative;
  z-index: 1;
}
.min {
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.diversity3Icon {
  width: 20px;
  max-height: 100%;
}
.joined {
  display: inline-block;
  min-width: 67px;
}
.hipHop,
.joined,
.july102025 {
  position: relative;
  line-height: 22px;
  z-index: 1;
}
.july102025 {
  display: inline-block;
  min-width: 90px;
}
.frameContainer,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent1 {
  flex-direction: row;
  gap: 4.1px;
  font-size: 14px;
  font-family: Poppins;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: 6px;
}
.label {
  position: relative;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  font-family: Poppins;
  color: var(--White-4-dark-theme);
  text-align: center;
}
.primaryButtonMotionmentor {
  cursor: pointer;
  border: 0;
  padding: 18px 0;
  background-color: transparent;
  width: 137px;
  border-radius: 4px;
  background: linear-gradient(90deg, #4acfff, #5f29fe);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.primaryButtonMotionmentorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.frameParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  border-radius: 0 8px 8px 0;
  background-color: var(--White-4-dark-theme);
  flex-direction: column;
  padding: 12px 20px 16px 23px;
  box-sizing: border-box;
  gap: 40px;
  min-width: 365px;
  font-size: 16px;
  color: #0f0a1a;
  font-family: "Playfair Display";
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
  text-align: left;
  font-size: 12px;
  color: #1a7441;
  font-family: Poppins;
}
@media screen and (max-width: 750px) {
  .frameParent1 {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: 20px;
    min-width: 100%;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .primaryButtonMotionmentor {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
