.bedtimeIcon {
  position: absolute;
  height: 81.67%;
  width: 82.08%;
  top: 10%;
  right: 9.58%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lightDarkMode {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
